{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Simple-Slider.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><a class="navbar-brand" href="{% url 'home' %}"><br>Lost &amp; Found<br><br></a>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                           
                           
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="#"><span
                                            class="d-none d-lg-inline mr-2 text-gray-600 small">{{user.first_name}}</span><img
                                            class="border rounded-circle img-profile"
                                            src="{% static 'assets/img/avatars/avatar1.jpeg'%}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="{% url 'change-password' %}"><i
                                                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Change Password
                                        </a>
<!--                                        <a-->
<!--                                            class="dropdown-item" role="presentation" href="{% url 'mysubmitted' %}"><i-->
<!--                                                class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Change Password-->
<!--                                        </a>-->
                                        <a class="dropdown-item" role="presentation" href="{% url 'mysubmitted' %}"><i
                                                class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity
                                            log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation"
                                            href="{% url 'logout' %}"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout
                                    </a>
                                    </div>
                                </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">Find Your Lost</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">lost info</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card shadow">
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col">
                                                <div class="form-group"><label for="city"><strong>Iteam</strong><br></label><input class="form-control" type="text" placeholder="Key" name="iteam"></div>
                                                <div class="form-group"><label  for="inputState"><strong>State</strong><br></label>
                                                    <!-- <input class="form-control"  for="inputState" name="city"> -->
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <option>Andhra Pradesh</option>
                                                        <option> Arunachal Pradesh</option>
                                                        <option>Assam</option>
                                                        <option>Bihar</option>
                                                        <option>Chhattisgarh</option>
                                                        <option>Goa</option>
                                                        <option>Gujarat</option>
                                                        <option>Haryana</option>
                                                        <option>Himachal Pradesh</option>
                                                        <option>Jharkhand</option>
                                                        <option>Karnataka</option>
                                                        <option>Kerala	</option>
                                                        <option>Madhya Pradesh</option>
                                                        <option>Maharashtra</option>
                                                        <option>Manipur</option>
                                                        <option>Meghalaya</option>
                                                        <option>Mizoram</option>
                                                        <option>Nagaland</option>
                                                        <option>Odisha</option>
                                                        <option>Punjab</option>
                                                        <option>Rajasthan</option>
                                                        <option>Tamil Nadu</option>
                                                        <option>Telangana</option>
                                                        <option>Tripura</option>
                                                        <option>Uttar Pradesh	</option>
                                                        <option>Uttarakhand</option>
                                                        <option>West Bengal</option>
                                                        <option>Andaman and Nicobar Islands</option>
                                                        <option>Chandigarh</option>
                                                        <option>Dadra & Nagar Haveli and Daman & Diu</option>
                                                        <option>Delhi</option>
                                                        <option>Jammu and Kashmir</option>
                                                        <option>Lakshadweep</option>
                                                        <option>Puducherry</option>
                                                        <option>Ladakh	</option>
                                                      </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group"><label for="country"><strong>City</strong><br></label><input class="form-control" type="text" placeholder="Indore" name="country"></div>
                                                <label for="city"><strong>Date &amp; Time</strong><br></label>
                                                <input
                                                    class="form-control" type="datetime-local"></div>
                                        </div>
                                        <div class="form-group"><label for="LandMark">LandMark</label><input class="form-control" type="text" placeholder="Sunset Blvd, 38" name="address"></div>
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Search</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Iteam</th>
                                        <th>State</th>
                                        <th>City</th>
                                        <th>LandMark</th>
                                        <th>Date&amp;Time</th>
<!--                                        <th>Locaton</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Userregister in queryset %}

                                    <tr>
<!--                                        <a href='{{ Userregister.get_absolute_url }}'>-->
                                        <a>
                                            <td><img class="rounded-circle mr-2" width="60" height="60" src="{{ Userregister.iteam_pic.url }}"><a href='{{ Userregister.get_absolute_url }}' >{{ Userregister.iteam }}</a> </td>
                                        <td>{{ Userregister.state }}</td>
                                        <td>{{ Userregister.city }}</td>
                                        <td>{{ Userregister.landmark }}</td>
                                        <td>{{ Userregister.datetime }}</td>
                                        </a>
                                    </tr>

                                      {% endfor %}
                                
                                  
<!--                                <tfoot>-->
<!--                                    <tr>-->
<!--                                        -->
<!--                                        <td><strong>Name</strong></td>-->
<!--                                        <td><strong>Position</strong></td>-->
<!--                                        <td><strong>Office</strong></td>-->
<!--                                        <td><strong>Age</strong></td>-->
<!--                                        <td><strong>Start date</strong></td>-->
<!--                                        <td><strong>Salary</strong></td>-->
<!--                                    </tr>-->
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                    </ul>
                                </nav>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Brand 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'assets/js/Simple-Slider.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>